/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Cabin|Fredericka+the+Great');

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
    border-radius: 0;
	font-family: 'Fredericka the Great', cursive;
}

.navbar-header .navbar-brand:visited {
    color: #9d9d9d;
}

.navbar-header .navbar-brand:hover {
	color: #a22a2c;
}

#myNavbar .navbar-nav li a:hover {
	color: #a22a2c;
}

body {
    font-family: 'Cabin', sans-serif;
}

.main-content {
	background-color: #f1f1f1;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sidenav-content {
    margin-right: 20%;
}

.content-pane {
	margin-left: 10%;
	margin-right: 10%;
}

.text-block {
	background-color: #91b6d4;
}

.proj-table {
	background-color: #91b6d4;
	width: 100%;
}

.proj-table tr td ol {
	padding-left: 20px;
}

.proj-cell {
	margin: 5% 5% 5% 5%;
}

.proj-header {
	font-weight: bold;
}

.table thead tr th {
	border-bottom: 2px solid #000;
}

.table tbody tr td {
	border-bottom: 1px solid #000;
}

hr {
	border-top: 1px solid black;
}

h3 a {
	color: black;
}

h3 a:hover {
	text-decoration: none;
	color: #a22a2c;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;} 
}